<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">This page is currently in development so some content may not be avalible or not completely finished
        yet. Please stand by whilst we continue to work on this website!</p>
</div>