<div class="container">
    <div class="footer">
        <footer>
            <hr>
            <p>Copyright 2018 Scalist.net |<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/DropletLogo.png') }}" alt="Droplet logo" width="32px"></a></p>
        </footer>
    </div>
</div>