<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <!--Links-->
            <li class="nav-item {% if '/' == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item {% if 'locator' in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('locator') }}">Retail locator</a>
            </li>
            <li class="nav-item {% if 'about' in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <!--Branding-->
            <div class="navbranding">
                <a href=""><img src="{{ url_for('static', filename='img/DropletLogo.png') }}" alt="Scalist" width="40px"></a>
            </div>
        </ul>
    </div>
</nav>