.container {
    padding-top: 15px;
}

.imgframe {
    background: #e0e0e0;
    padding: 0.75rem;
    border-radius:0.3rem;
}

#map {
    border-radius:0.3rem;
    width: 100%;
    height: 450px;
}

.navbranding {
    position: absolute;
    left: 50%;
    display: block;
    font-size: 150%;
    color: white;
}